body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

table,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
}

.gameBoard {
  width: 600px;
  height: 600px;
  text-align: center;
  font-size: 50px;
}

td {
  width: 75px;
  height: 75px;
}

tr:nth-child(odd) td:nth-child(even) {
  background-color: #acacac;
}

tr:nth-child(even) td:nth-child(odd) {
  background-color: #acacac;
}